<ul class="nav nav-pills">
  <li class="nav-item">
      {{#link-to "home"}}
        <a class="nav-link active" href="#">Home</a>
      {{/link-to}}
  </li>
  <li class="nav-item">
      {{#link-to "books"}}
        <a class="nav-link" href="#">Books</a>
      {{/link-to}}
  </li>
  <li class="nav-item">
      {{#link-to "about"}}
        <a class="nav-link" href="#">About</a>
      {{/link-to}}
  </li>
  <li class="nav-item">
      {{#link-to "contact"}}
        <a class="nav-link" href="#">Contact</a>
      {{/link-to}}
  </li>
</ul>

{{outlet}}
