<ul class="nav nav-pills">
  <li class="nav-item">
        <a class="nav-link" {{action "showHome"}}  href="#">Home</a>
  </li>
  <li class="nav-item">
        <a class="nav-link" {{action "showBooks"}} href="#">Books</a>
  </li>
  <li class="nav-item">
      {{#link-to "contact"}}
        <a class="nav-link" {{action "showContact"}} href="#">Contact</a>
      {{/link-to}}
  </li>
</ul>

{{outlet}}
