<h1> Books </h1>
<br>

{{em-search
  queryByTitle=(action "queryByTitle")
}}

{{em-list
  books=data
  update=(action "update")
  delete=(action "delete")
}}


<button type="button" class="btn btn-success" {{action "addBook"}}>Add New Book</button>
