<h1> Books </h1>
<br>

{{em-search
  query=query
}}

{{em-list
  books=model
  update=(action "update")
  delete=(action "delete")
}}


<button type="button" class="btn btn-success" {{action "addBook"}}>Add New Book</button>
